.header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin: auto;
  box-sizing: border-box;
  width: 940px;
  height: 100px;
}

.header img {
  margin-right: 10px;
  margin-top: 0px;
}